@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

.navbar {
    position: fixed;
    width: 100%;
    opacity: 80%;
    z-index: 1;
}

.nav-item {
    padding: 20px 10px;
}

.navbarLogo {
    width: 50px;
    /* height: 3.125rem; */
}

.background-img {
    height: 100vh;
    width: 100%;
    object-fit: cover;
    display: flex;
    z-index: -200;
}

.hero-text-box {
    color: #C68B59;
    font-weight: 400;
    width: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.hero-text-box h1 {
    background-color: rgba(255, 255, 255, 0.754);
    padding: 2px 3px;
}

.aboutIcon {
    color: #C68B59;
}

.btn:link,
.btn:visited{
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 150px;
    transition: backgorund-color 0.2s, border 0.2s, color 0.2s;
  }

.btn-full:link,
.btn-full:visited{
    background-color: #A36938;
    border: 1px solid #fff;
    margin-right: 15px;
    color: #fff;
}
.btn-ghost:link,
.btn-ghost:visited{
    border: 1px solid #fff;
    color: #fff;
    background-color: #A36938;
}
.btn:hover,
.btn:active{
    background-color: #A36938;
}

.btn-full:hover,
.btn-full:active{
    border: 1px solid #A36938;
}
.btn-ghost:hover,
.btn-ghost:active{
    border: 1px solid #A36938;
    color: #fff;
}

#gmap {
    height: 500px;
    width: 90%;
    margin: auto;
    text-align: center;
}

.about-main-p {
    font-size: 25px;
}
 .icons div {
    color: #fff;
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2rem;
}

.icons div:hover{
    color: var(--main-color);
}

.cart {
    position: absolute;
    top: 100%;
    right: -100%;
    height: calc(100vh - 9.5rem);
    width: 35rem;
    background-color: #fff;
    padding: 0 1.5rem;
}

.cart.active {
    right: 0;
}

.cart .cart-item {
    position: relative;
    margin: 2rem 0;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.cart .cart-item .fa-times {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2rem;
    cursor: pointer;
    color: var(--black);
}

.cart .cart-item .fa-times:hover {
    color: var(--main-color);
}

.cart .cart-item img {
    height: 7rem;
}

.cart .cart-item .content h3 {
    font-size: 2rem;
    color: var(--black);
    padding-bottom: .5rem;
}

.cart .cart-item .content .price {
    font-size: 1.5rem;
    color: var(--main-color);
}
.icon-big {
    font-size: 370%;
    color: #A36938;
    margin-bottom: 10px;
}

.section-block {
    background-color: #A36938;
    z-index: -1;
    width: 100%;
}

#chatBox {
    z-index: 1;
}

footer {
    color: #fff;
    opacity: 80%;
    text-align: center;
    width: 100%;
}

